#level-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .peas {
    grid: 1 / 2;
  }
  /*
  .onions {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .tomatoes {
    grid-area: 2 / 1;
  }

  .lettuce {
    grid-area: 2 / 2;
  }

  .carrots {
    grid-area: 3 / 1;
  }*/
}

#level-2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  .peas {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  /* .onions {
    grid-area: 2 / 1;
  }

  .tomatoes {
    grid-area: 2 / 2;
  }

  .lettuce {
    grid-area: 3 / 1;
  }

  .carrots {
    grid-area: 3 / 2;
  } */
}

#level-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .peas {
    grid-area: 1 / 1;
  }

  .onions {
    grid-area: 1 / 2 / span 1 / span 2;
  }

  .tomatoes {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .carrots {
    grid-area: 3 / 1 / span 1 / span 3;
  }
}
