#level-1 {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;

  .peas {
    grid: 1 / 2 / 1 / 2;
  }

  .onions {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .tomatoes {
    grid: 2 / 3 / 1 / 2;
  }

  .lettuce {
    grid: 2 / 3 / 2 / 3;
  }

  .carrots {
    grid: 1 / 2 / 3 / 4;
  }
}

#level-2 {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;

  .peas {
    grid-column-start: 1 / span 2;
    grid-row-start: 1;
  }

  .onions {
    grid-area: 2 / 1;
  }

  .tomatoes {
    grid-area: 2 / 2;
  }

  .lettuce {
    grid-area: 3 / 1;
  }

  .carrots {
    grid-area: 3 / 2;
  }
}
